certifi==2021.10.8
cycler==0.11.0
DOM==1.7.6
finders==0.23.19
fonttools==4.33.3
h5py==2.10.0
HLRedux==1.8.4
kiwisolver==1.4.2
loguru==0.6.0
mantid==6.3.0
matplotlib==3.5.1
munkres==1.1.4
numpy==1.22.3
olefile==0.46
packaging==21.3
Pillow==8.2.0
pip==22.0.4
pyparsing==3.0.8
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
reflectivity-ui==2.2.0rc3
scipy==1.8.0
setuptools==62.1.0
sip==6.5.1
six==1.16.0
toml==0.10.2
tornado==6.1
unicodedata2==14.0.0
vtk==9.0.1
wheel==0.37.1
